<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>heyyy this my Home page</h1>
    <h2>Shopping Here just  buy somthing from my webshop :-) </h2> 
</body>
</html>