<html lang="en">
<head>
    <style>
        body{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
 
     </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
   <h1>Signup :</h1>
   
<form action="/user" method="POST">

   <label>Enter Your FullName :</label>
   <input type="text" required name="name"/>  <br> <br>


   <label>Enter Your Email Id :</label>
   <input type="text" required name="email"/>   <br> <br>



   <label>Set Your Password :</label>
   <input type="text" required name="password"/>  <br> <br>



    <button type="submit">Submit</button>


</form>
    
</body>
</html>